body {
  background-color: #4e6e8d;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #3B5166;
}

li {
  float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial;
  font-size: 18px;
}

li a:hover {
  background-color: #7D868F;
  font-style: italic;
}
